/* Main Div for the whole page */
.mainDiv-CreateBook {
  font-family: var(--font-family);
}

/* 1st back button on the page - back to create storys page*/
.b1-backNavButton {
  margin-left: 10%;
}

.img-input-box {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.img-input {
  width: 200px;
  height: 200px;
}

.img-input-box input {
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: pointer;

  opacity: 0;
  border: 5px solid red;
}
