@import url("https://fonts.googleapis.com/css?family=Comic+Neue");
@import url("https://fonts.googleapis.com/css?family=Caprasimo");
@import url("https://fonts.googleapis.com/css?family=Lilita+One");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 75px;
}

:root {
  min-height: 125vh; /* Page size */
  position: relative;

  --color-bg-gradient: linear-gradient(
    180deg,
    rgba(255, 229, 138, 0.92) 7.81%,
    rgba(255, 206, 97, 0.73) 39.58%,
    rgba(238, 108, 69, 0.68) 70.83%,
    rgba(191, 52, 117, 0.68) 100%
  );

  --font-family: "Comic Neue";

  --color-bg: rgb(130, 102, 135);

  --header-gradient: linear-gradient(
    180deg,
    rgba(130, 102, 135, 0.92) 7.81%,
    rgba(156, 69, 101, 0.73) 39.58%
  );

  --footer-gradient: linear-gradient(
    180deg,
    rgba(226, 126, 89, 0.68) 70.83%,
    rgba(240, 188, 93, 0.68) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
